body {
  background-color: #f1f1f1;
}

.profile-img {
  width: 150px;
  height: auto;
  margin: auto;
}

.port-item {
  width: 300px;
  margin-bottom: 2%;
}

.fill {
  width: 150px;
  height: 150px;
  object-fit: fill;
}

.port-text {
  font-weight: bold;
}